.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.bottom_PC {
    display: none;
}

.footer_top {
    order: 1;
}

.footer_mid {
    order: 2;
}

.footer_bottom {
    order: 3;
}

.footer_final {
    order: 4;
}

.footer_res {
    order: 5;
}

.footer_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(241, 236, 236);
}

.footer_mid {
    height: 1px;
    background-color: rgb(177, 175, 175);
}

.footer_bottom {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgb(241, 236, 236);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_first {
    width: 25%;
}

.heading_two {
    color: rgb(95, 95, 253);
}

.footer_second {
    text-align: center;
    width: 25%;
}

.footer_third {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: black;
    height: 40px;
    width: 130px;
    border-radius: 7px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.heading_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.button_svg {
    margin-right: 5px;
}

.heading_app {
    font-size: 15px;
    font-weight: 600;
}

.button_heading {
    font-size: 10px;
    font-weight: 400;
}

.bottom_five {
    width: 25%;
}

.bottom_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    border: 1px solid rgb(163, 161, 161);
}

.bottom_heading,
.bottom_heading1,
.bottom_heading5 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}


.bottom_first,
.bottom_two,
.bottom_three,
.bottom_four {
    gap: 15px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 21%;
}


.footer_four {
    display: none;
}

.bottom_five {
    gap: 15px;
    width: 19%;
    height: 200px;
    /* background-color: orange; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.para {
    color: rgb(49, 44, 44);
    font-weight: 400;
}

.footer_final {
    text-align: right;
    padding: 20px;
    height: 60px;
    color: white;
    background-color: rgb(34, 33, 33);
}

.final_heading {
    font-size: 15px;
    font-weight: 700;
}

.bottom_button_res,
.social_button_res {
    display: none;
}

.Body {
    display: none;
}

.Footer_svg {
    display: none;
}

.Footer_svg_list {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.footer_res {
    display: none;
}

@media (max-width: 480px) {

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .bottom_heading5,
    .bottom_heading1 {
        display: none;
    }


    .footer_mid {
        display: none;
    }

    .footer_bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .bottom_five {
        display: none;
    }

    .bottom_button_res {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
        align-items: center;
    }


    .social_button_res {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        height: 35px;
        width: 35px;
        border-radius: 35px;
    }

    .social_button {
        display: none;
    }

    .footer_final {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100px;
        padding-top: 10px;
        margin-bottom: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 20px;
    }

    .final_heading {
        font-size: 10px;
    }

    .para {
        display: flex;
    }

    .bottom_first,
    .bottom_two,
    .bottom_three,
    .bottom_four {
        display: none;
    }

    .bottom_first_1,
    .bottom_two_2,
    .bottom_three_3,
    .bottom_four_4,
    .bottom_PC {
        border-top: 1px solid silver;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
        margin: 0;
    }

    .bottom_four_4 {
        border-bottom: 1px solid silver;
    }

    .bottom_heading {
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: normal;
    }

    .footer_first,
    .footer_second,
    .footer_third {
        display: none;
    }

    .footer_four {
        background-color: rgb(241, 236, 236);
        width: 100%;
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .four_two {
        width: 50%;

    }

    .bottom_five_res {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .four_one {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .footer_four_pic {
        height: 100%;
        width: 100%;
    }

    .button_res {
        background-color: black;
        width: 110px;
        border-radius: 5px;
        height: 30px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid black;
    }

    .button_svg_res {
        width: 30px;
        height: 15px;
    }

    .heading_div {
        display: flex;
        justify-self: flex-start;
    }

    .heading_res_1 {
        font-size: 15px;
        font-weight: 700;
    }

    .heading_res {
        margin: 10px 0px;
        font-size: 8px;
        max-width: 70px;
        font-weight: normal;
        color: black;
    }

    .button_heading_res {
        font-size: 7px;
        font-weight: normal;
        color: white;
    }

    .heading_app_res {
        font-size: 10px;
        font-weight: 600;
        color: white;
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .footer_top {
        order: 2;
    }

    .footer_mid {
        order: 3;
    }

    .footer_bottom {
        order: 1;
    }

    .footer_final {
        order: 4;
    }

    .active {
        margin-left: 10px;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .not_active {
        margin-left: 10px;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }

    .list_div {
        display: none;
    }

    .list_div_toggle {
        /* padding: 25px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 2;
    }


    .Item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;
        margin-top: 5px;
        padding: 2px;
        gap: 5px;
    }

    .HI {
        font-size: 15px;
        font-weight: 700;
    }

    .link_div {
        font-size: 14px;
        width: 100%;
        font-weight: 500;
        /* color: #575151; */
    }

    .Body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        /* background-color: red; */
    }

    .Open {
        border-top: 1px solid silver;
        width: 100%;
        height: 55px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
        /* background-color: pink; */
        margin: 0;
    }

    .div_one {
        border-top: 1px solid silver;
        width: 100%;
        height: 100%;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin: 0;
    }

    .bottom_cat_link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .FL_not_active {
        margin-left: 10px;
        transform: rotate(270deg);
        transition: transform 0.3s ease;
    }

    .FL_active {
        margin-left: 10px;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .FL_not_active_content {
        display: none;
    }

    .FL_active_content {
        background-color: rebeccapurple;
    }

    .last_link_not_active {
        display: none;

    }

    .last_link_active {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        gap: 5px;
        padding: 5px;
        background-color: rgb(214, 212, 212);
    }

    .last_link_heading {
        font-size: 15px;
        font-weight: 300;
    }

    .Open_cat {
        width: 100%;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
        /* background-color: pink; */
        margin: 0;
    }

    .Footer_svg {
        display: block;
    }

    .Footer_svg_list_active {
        margin-top: 10px;
        padding: 10px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: rgb(214, 212, 212);
    }

    .Footer_svg_list_not_active {
        display: none;
    }

    .footer_res {
        position: fixed;
        bottom: 0px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        border: none;
    }

    .footer_res_Home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20%;

    }

    .footer_p_heading {
        font-size: 12px;
    }

    .sell_F {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 15%;
        border-radius: 25px;
        border: 3px solid black;
    }

    .sell_heading {
        font-size: 18px;
        text-decoration: underline;
        font-weight: 600;
    }

    .button_res_call {
        width: 100%;
        background-color: inherit;
        display: flex;
        height: 100%;
        border: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        padding: 10px;
    }

    .call_button {
        width: 40%;
        height: 35px;
        background-color: black;
        border-radius: 5px;
        display: flex;
        gap: 5%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .chat_button {
        gap: 5%;
        width: 40%;
        border-radius: 5px;
        border: 1px solid black;
        height: 35px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .chat_Button_heading {
        color: black;
    }

    .call_Button_heading {
        color: white;
    }

    .github_signin {
        background-color: rgb(62, 62, 247);
        width: 100%;
        color: white;
        border-radius: 5px;
        margin: 5px 0px;
        height: 40px;
    }

    .ID_PW {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .Acc_heading {
        font-size: 20px;
        font-weight: 700;
    }

    .div_U,
    .div_P {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
    }

    .U_heading,
    .P_heading {
        font-size: 18px;
        font-weight: 500;
        width: 100px;
    }

    .PW,
    .ID {
        width: 100%;
        height: 25px;
        background: none;
        border: none;
        border-bottom: 1px solid black;
        padding-left: 10px;

    }

    .After_login {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .github {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        object-fit: cover;
    }

    .github_signout {

        width: 100%;
        color: white;
        border-radius: 5px;
        margin: 5px 0px;
        height: 40px;
        background-color: red;
    }
}