.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-width: 1000px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.api {
    width: 100%;
    margin: 10px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.api_first {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: greenyellow; */
}

.vm_heading {
    font-size: 24px;
}

.vm_button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-weight: 600;
    height: 30px;
    font-size: 16px;
    color: rgb(107, 107, 228);
}

.api_card {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    /* background-color: red; */
    margin: 10px;
    width: 100%;
}

.api_list {
    border-radius: 10px;
    margin: 10px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    padding: 10px;
    /* background-color: yellow; */
}

.api_list_detail {
    width: 100%;
    /* background-color: red; */
}

.price_heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.api_rating1 {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}

.api_rating2 {
    color: gray;
    /* margin-top: 10px; */
    font-size: 14px;
}

.p_heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: red; */
}

.main_heart {
    position: relative;
    top: 280px;
    right: -120px;
}